* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Alegreya Sans SC', sans-serif;
	background-color: #1B1617;
	display: block;
	scroll-behavior: smooth;
}

/*Параметры скролбара*/

 ::-webkit-scrollbar {
    width: 15px; /* ширина нового скроллбара */
}

 ::-webkit-scrollbar-track {
    background: #3c3c3c; /* цвет фона у дорожки */
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */
}

::-webkit-scrollbar-thumb {
    background: #787878; /* цвет фона у ползунка */
    border-radius: 8px; /* скругление углов */
    transition: 3s;
}

::-webkit-scrollbar-thumb:hover {
    background: #58605E; /* ползунок меняет цвет при наведении */
    transition: 3s;
}

/*Параметры закрепления шапки*/
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
} /*Закрепленная шапка*/

.sticky .content {
  padding-top: 102px;
} /*Отдаление от закрепленной шапки*/

/*Параметры шапки*/
.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	box-shadow: 0 20px 10px rgba(0, 0, 0, .1); /*Добавляет тень под элемент*/
	border-bottom: 1px solid #00FFA7; /*Полоса под шапкой*/
	border-bottom-width: 5px; /*Ширина полосы*/
	border-bottom-color: #00FFA7; /*Цвет полосы*/
	z-index: 999;
	background-color: rgb(29, 31, 32);
}

/*Параметры меню в шапке*/
.navbar-menu {
	list-style-type: none;
	padding: 0;
	flex-grow: 1;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a {
	font-size: 20px;
	margin-right: 0.5rem;
	display: inline-block; /*Отображение элементов в линию*/
	color: white;
	opacity: 0.9; /*Прозрачность текста*/
	text-decoration: none; /*Убирает подчеркивания*/
	transition: all 0.2s ease-in-out; /*Длительность анимаций*/
}

.navbar-menu li a:hover {
	color: #00FFA7;
	opacity: 1;
} /*Измена цвета при наведении на тект*/

.nav-buttons {
	display: flex;
	gap: 1rem;
	padding: 1rem;
} /*Параметры разположения кнопок в шапке*/

.nav-btn {
	text-decoration: none;
	padding: 1px 50px;
	line-height: 45px;
	color: #524f4e;
	text-align: center; /*item-align items center*/
	border-radius: 10px;
	font-weight: 600;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
} /*Параметры кнопки в шапке*/

.nav-btn:hover {
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
} /*Эффекты кнопки при наведении*/

select {
	text-decoration: none;
	padding: 10px 5px;
	border-radius: 10px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	font-size: 19px;
	text-align: center;
	font-weight: 600;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
	font-family: 'Alegreya Sans SC', sans-serif;
} /*Параметры кнопки смены языка*/

select:hover {
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
} /*Эффекты при наведении*/ 

select:focus {
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
} /*Эффекты в режиме нажития кнопки*/

.text-logo-main {
	font-weight: 700; 
	font-size: 50px; 
	color: white;
	text-decoration: none; /*Убирает подчеркивания*/
	animation-name: transarpent-logo;
	animation-duration: 4s;
	margin-right: 2rem;;
} /*Параметры Лого в шапке*/

.text-logo-main:hover {
	color: #00FFA7;
	transition: all 0.3s ease-in-out;
} /*Изменение цвета при наведении на лого (HIDE)*/

/*Анимации при запуске сайта в шапке*/

.list-animate1 {
	animation-name: list-animate1;
	animation-duration: 3s;
}
.list-animate2 {
	animation-name: list-animate2;
	animation-duration: 3s;
}

.list-animate3 {
	animation-name: list-animate3;
	animation-duration: 3s;
}

.list-animate4 {
	animation-name: list-animate4;
	animation-duration: 3s;
}

@keyframes transarpent-logo {
	0% {opacity: 0%}
	25% {opacity: 0%}
	50%{opacity: 0%}
	75%{opacity: 0%}
	100%{opacity: 100%}
}

@keyframes list-animate1 {
	0% {opacity: 0%}
	25% {opacity: 100%}
	50%{opacity: 100%}
	75%{opacity: 100%}
	100%{opacity: 100%}
}
@keyframes list-animate2 {
	0% {opacity: 0%}
	25% {opacity: 0%}
	50%{opacity: 100%}
	75%{opacity: 100%}
	100%{opacity: 100%}
}
@keyframes list-animate3 {
	0% {opacity: 0%}
	25% {opacity: 0%}
	50%{opacity: 0%}
	75%{opacity: 100%}
	100%{opacity: 100%}
}
@keyframes list-animate4 {
	0% {opacity: 0%}
	25% {opacity: 0%}
	50%{opacity: 0%}
	75%{opacity: 0%}
	100%{opacity: 100%}
}

/*Конец nav-bar*/


/*Начало Первых сайдбаров*/

.container {
	display: flex;
	flex-direction: row;
} /*Параметры расположения блоков*/


.first-sidebar-left {
	display: grid;
	color: white;
	font-size: 22px;
	background-image: url(img/main-sidebar-left.png);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	float: left;
	border-right: 1px solid silver;
	border-right-color: silver;
	border-right-width: 3px; /*Линня спрваа элемента*/
} /*Парамеры 1-го левого сайдбара*/

.side-bar-main-text{
	margin-left: 10%;
	margin-right: 10%;
}

.side-bar-text {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 5%;
}

.side-bar-button {
	margin-left: 10%;
}

.hide-main-text {
	margin-bottom: 0;
	padding-top: 10%;
} /*Параметры заглавного слова 'HIDE'*/


.heading-paragraph {
	font-size: 80px;
	color: #7FFFD4;
} 

.other-btn-animated {
	text-decoration: none;
	display: inline-block;
	width: 80%;
	height: 45px;
	line-height: 45px;
	border-radius: 10px;
	font-size: 19px;
	text-align: center;
	font-weight: 600;
	color: #524f4e;
	background: white;
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	transition: .3s;
	margin-top: 5%;
	margin-bottom: 5%;
} /*Параметры кнопок вне блока 'header'*/

.other-btn-animated:hover {
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
	color: white;
	transform: translateY(-7px);
} /*Анимация кнопки при наведении*/

.first-sidebar-right {
	min-width: 55%;
	float: left;
	z-index: -1;
} /*Параметры 1-го правого сайдбара*/

.video-pos {
	background-size:cover;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	float: left;
	z-index: -4;
} /*Параметры расположение видео в сайдбарах*/

.interblock-structure {
	width: 100%;
	background-color: #101111;
	border-top: 1px solid silver;
	border-top-width: 3px;
	border-top-color: silver; 
	border-bottom: 1px solid silver;
	border-bottom-width: 3px;
	border-bottom-color: silver; 
} /*Параметры межблочных структур*/

.interblock-structure-text {
	font-size: 22px;
	text-align: center;
	padding: 2%;
	color: white;
} /*Параметры межблочного текста*/

.second-sidebar-left {
	width: 55%;
	height: auto;
	background-size: cover;
	float: left;
	z-index: -1;
} /*Параметры второстепеного левого сайдбара сайдбара*/

.second-sidebar-right {
	text-align: center;
	width: 45%;
	min-height: 5%;
	max-height: 5%;
	color: white;
	float: left;
	font-size: 40px;
	background-image: url(img/main-sidebar-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	border-left: 1px solid silver;
	border-left-width: 3px;
	border-left-color: silver; 
} /*Параметры 2-го правого сайдбара сайдбара*/


.numbers {
	color: #00FFA7;
	font-weight: 900;
	margin: 5%;
	margin-bottom: 0;
} /*Параметры цифр во втором блоке сайта*/

p {
	font-size: 20px;
	color: white;
} /*Парметры текста под цифрами*/

.text-fix {
	margin: 5%;
}

.p-fix {
	margin-bottom: 5%;
} /*Делает такой же отступ, как и в тексте с цифрами*/

.content-no-top-border {
	border-top: 0;
}
.content-no-bottom-border {
	border-bottom: 0;
}
.boxes-text {
	color: #7FFFD4;
}

.container-benefit {
	background-color: #101111;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-evenly;
}

.benefits-boxes {
	display: flex;
	flex-direction: column;
	background-color: #101111;
	padding: 2rem;
	padding-top: 7rem;
	border: 3px solid #00FFA7;
 	border-bottom: 5px solid #00FFA7;
	background-repeat: no-repeat;
	width: 20%;
}/*Параметры блоков с цифрами*/


.first-box {
	background-image: url(img/1.png);
}

.second-box {
	background-image: url(img/2.png);
}

.third-box {
	background-image: url(img/3.png);
}

.fourth-box {
	background-image: url(img/4.png);
}

.fifth-box {
	background-image: url(img/5.png);
}



.container-prev-app {
	width: 100%;
	background-color: #101111;
	align-items: center;

}

.container-middle {
	background-color: #101111;
}

/* .container-gap {
	background-color: silver;
	gap: 3px;
} */

.third-sidebar-left {
	display: grid;
	width: 37.7%;
	padding-right: 2%;
	padding-bottom: 3%;
	color: white;
	font-size: 22px;
	background-image: url(img/main-sidebar-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	float: left;
	border-right: 1px solid silver;
	border-right-color: silver;
	border-right-width: 3px; /*Линня спрваа элемента*/
	float: left;
} /*Параметры 3-го левого сайдбара*/

.third-sidebar-right {
	align-items: center;
	display: flex;
	width: 62.3%;
	background-color: #101111;
} /*Параметры 3-го правого сайдбара*/

.middle-text-main {
	margin-bottom: 0;
	padding-top: 10%;
}

.themes-text {
	margin-top: 3rem;
}

.fourth-sidebar-left {
	display: grid;
	width: 37.7%;
	padding-right: 2%;
	padding-bottom: 3%;
	color: white;
	font-size: 22px;
	background-image: url(img/main-sidebar-left.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	float: left;
	border-right: 1px solid silver;
	border-right-color: silver;
	border-right-width: 3px; 
	float: left;
} /*Параметры 4-го левого сайдбара*/

.fourth-sidebar-right {
	align-items: center;
	display: flex;
	width: 62.3%;
	background-color: #101111;
} /*Параметры 4-го правого сайдбара*/

.advanced-screen-sharing-text {
	font-size: 60px;
}

.h2-sb {
	font-size: 30px;
}

.responsive-sb-text-fourth {
	font-size: 30px;
}

.tariffs-boxes {
	display: flex;
	flex-direction: column;
	background-color: #101111;
	padding-top: 7rem;
	border: 3px solid #00FFA7;
 	border-bottom: 0px;
	background-repeat: no-repeat;
	width: 33%;
	text-align: center;
} /*Параметры блоков с покупками*/

.container-tariffs {
	background-color: #101111;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-evenly;
}

.tariff-button {
	margin-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

.text-box-1 {
	font-size: 25px;
	padding-right: 2rem;
	padding-left: 2rem;
}

.text-box-2 {
	font-size: 20px;
	padding-right: 2rem;
	padding-left: 2rem;
}

.text-box-3 {
	font-size: 30px;
	padding-right: 2rem;
	padding-left: 2rem;
}

.buttons-last {
	background-color: #101111;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: space-evenly;
	width: 100%;
	text-align: center;
}

.button-tariff-1 {
	width: 33%;
	display: flex;
	flex-direction: row;
	border: 3px solid #00FFA7;
	border-top: 0;
	text-align: center;
}

.button-tariff-2 {
	width: 33%;
	display: flex;
	flex-direction: row;
	border: 3px solid #00FFA7;
	border-top: 0;
}

.button-tariff-3 {
	width: 33%;
	display: flex;
	flex-direction: row;
	border: 3px solid #00FFA7;
	border-top: 0;
}


/* Параметры для телефона*/

@media (max-width: 800px) {

	.navbar {
		align-items: center;
	}

	.nav-btn {
		padding: 1px 8px;
	}

	.container {
		display: flex;
		flex-direction: column;
	}

	.first-sidebar-left {
		min-width: 100%;
		margin-top: 0;
		border-bottom: 1px solid silver;
		border-bottom-width: 3px;
		border-bottom-color: silver; 
		border-right: 0px solid silver;
		text-align: center;
  	}

	.side-bar-text {
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 10%;
	}

	.hide-main-text{
		padding-top: 0;
	}


	/* .side-bar-button {
		margin-left: 0%;
	} */

	.second-sidebar-left {
		min-width: 100%;	 	
	}

	.second-sidebar-right {
		min-width: 100%;
		border-left: 0px solid silver;	
		border-top: 1px solid silver;
		border-top-width: 3px;
		border-top-color: silver; 
	}

	.container-benefit {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}

	.benefits-boxes {
		width: 100%;
	}

	.third-sidebar-left {
		min-width: 100%;
		text-align: center;
		padding-right: 0%;
		padding-bottom: 0%;
	}

	.themes-text {
		margin-bottom: 0;
		padding-top: 1rem;
	}

	.third-sidebar-right {
		display: flex;
	}
	
	.container-middle {
		display: flex;
		flex-direction: column;
		padding: 0rem;
	}

	.middle-text-main {
		padding-top: 0;
	}	

	.fourth-sidebar-left {
		min-width: 100%;
		text-align: center;
		padding-right: 0%;
		padding-bottom: 0%;
	}

	.fourth-sidebar-right {
		display: flex;
	}
	
	.themes-text-main {
		padding-top: 0;
	}	

	.container-tariffs {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}

	.buttons-last {
		display: none;
	}
	.tariffs-boxes {
		border-bottom: 3px solid #00FFA7;
		width: 100%;
	}

	.tariff-button-mobile {
		display: inline-block;
	}
}

/*Адаптация для планшета*/

@media (min-width: 801px) and (max-width: 1200px) {

	.nav-btn {
		padding: 1px 8px;
	}

	.container-benefit {
		flex-wrap: wrap;
	}

	.benefits-boxes {
		width: 30%;
	}

	.third-sidebar-left {
		min-width: 100%;
		text-align: center;
		padding-right: 0%;
		padding-bottom: 0%;
	}

	.middle-text-main {
		padding-top: 0;
	}

	.container-middle {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

}

@media (min-width: 801px) and (max-width: 1000px) {

	.container-tariffs {
		display: flex;
		flex-direction: column;
		padding: 2rem;
	}

	.tariffs-boxes {
		width: 100%;
	}

	.tariff-button-mobile {
		display: inline-block;
	}

	.buttons-last {
		display: none;
	}

	.tariffs-boxes {
		border-bottom: 3px solid #00FFA7;
	}

}

/*Адаптация под пк*/ 

@media (min-width: 1001px) and (max-width: 1200px) {

	.tariff-button-mobile {
		display: none;
	}
}

@media (max-width: 1200px) {

	.navbar {
		flex-direction: column;
	}

	.text-logo-main {
		margin-right: 0;
	}

	.container-theme {
		padding: 0rem;
	}

	.third-sidebar-left,
	.third-sidebar-right {
		width: 100%;
		border-right: 0;
	}

	.third-sidebar-left {
		border-bottom: 3px solid silver;
	}

	.third-sidebar-right {
		padding: 1rem;
	}

	.container-middle {
		padding: 0rem;
	}

	.fourth-sidebar-left,
	.fourth-sidebar-right {
		width: 100%;
		border-right: 0;
	}

	.fourth-sidebar-left {
		border-bottom: 3px solid silver;
	}

	.fourth-sidebar-right {
		padding: 1rem;
	}

}

@media (min-width: 1200px) {

	.responsive-sb-text-third {
		font-size: 15px;
	}	

	.tariff-button-mobile {
		display: none;
	}

}	



